.panel.left
  %h1 Your Profile
  .wrapper
    %img.avatar{:src => @user.avatar(:small)}
      / %span.name= @user.name
      @#{@alias}
      %p
        = @user.postings.count
        Posts
        %span.spacing XX Followers
        %span.spacing XX Following
.panel.right
  - if current_user
    %h1 Create a Post
    %p
    = form_for @posting do |f|
      = f.text_area :content, class: 'text'
      = f.submit "Post"
  %h1 Your Posts
  - @user.postings.each do |posting|
    %img.avatar{:src => @user.avatar(:thumb)}
      /%span.name= @user.name
      @#{@alias}
      =posting.content
      %br/
      %span.time= time_ago_in_words(posting.created_at) + " ago"
      %p