.row.margin-top
  .large-3.columns.panel
    %img.avatar{:src => @user.avatar(:thumb), class: 'th'}
      / %span.name= @user.name
      %b  @#{@alias}
      %p
      .small-3.columns
        Posts
        %br
        = @user.postings.count
      .small-5.columns.left-border
        Followers
        %br
        XX
      .small-4.columns.left-border  
        Following
        %br
        XX        
  .large-8.columns
    - if current_user
      .row.panel
        .small-3.columns
          %h4 Create Post
        .small-9.columns  
          = form_for @posting do |f|
            .row.collapse
              .small-10.columns
                = f.text_area :body, class: 'text'
              .small-2.columns  
                = f.submit "Post", class: 'button'
      .panel             
        .center           
          %h2 Posts
        %br
        - @user.postings.each do |posting|
          .row
            .posts
            .container          
              .small-3.columns
                %img.avatar{:src => @user.avatar(:thumb), class: 'th'} 
              .small-9.columns  
                /%span.name= @user.name
                .h3
                  = @alias
                = linkify_tags(posting.body)
                %p
                %span.time= time_ago_in_words(posting.created_at) + " ago"
                -if current_user
                  = link_to 'Edit', edit_posting_path(posting)
                  = link_to 'Destroy', posting, method: :delete, data: { confirm: 'Are you sure?' }    