- provide(:title, @title)
.row.margin-top
  .large-5.columns.panel
    %img.avatar{:src => @user.avatar(:thumb), class: 'th'}
      %b
        = linkify_tags(@username)
        = render 'follow_form' if signed_in?
      %p
        = render "stats"                      
      - if @users.any?
        - @users.each do |user|
          %a{:href => profile_path(user)}
            %img.avatar{:src => user.avatar(:smthumb), class: 'th'}
  .large-7.columns
    %h3= @title    
    - if @users.any?
      = render @users
      /= will_paginate