.row.margin-top
  .large-4.columns.panel
    %img.avatar{:src => @user.avatar(:thumb), class: 'th'}
      / %span.name= @user.name
      %b  
        = linkify_tags(@username)
        = render 'follow_form' if signed_in?
      %p
        = render "stats"        
  .large-7.columns
    - if current_user == @user
      .row.panel
        .small-4.columns
          %h4 Create Post
        .small-7.columns  
          = form_for @posting do |f|
            .row.collapse
              .small-10.columns
                = f.text_area :body, class: 'text'
              .small-2.columns  
                = f.submit "Post", class: 'button'
        .small-1.columns        
    .panel             
      .center           
        %h2 Posts
      %br
        = render "show_posts"