- @allpostings.each do |posting|
  -if posting.body =~ /\$#{$moneytag}/
    .row
      .posts
      .container          
        .small-3.columns
          %img.avatar{:src => posting.user.avatar(:thumb), class: 'th'} 
        .small-9.columns  
          .h3
            %strong
              = linkify_tags("@" + posting.user.username)
            = linkify_tags(posting.body)
          %p
          %span.time= time_ago_in_words(posting.created_at) + " ago"
          -if current_user
            = link_to 'Edit', edit_posting_path(posting)
            = link_to 'Destroy', posting, method: :delete, data: { confirm: 'Are you sure?' }    